.currentboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        &-lists {
            display: flex;
            overflow-x: auto;
            width: 80%;
            margin: 4em auto;
            padding: 2em;

            &__item {
                margin: 0 3rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 5px;
                overflow: hidden;
                width: 280px;
                cursor: pointer;
                max-height: 600px;

                &:hover {
                    box-shadow: 0 0 0 3px #5d55fa;
                }

                &-menu {
                    background: rgb(92, 89, 96);
                    background: linear-gradient(139deg, rgba(137, 132, 143, 0.7) 0%, rgba(72, 76, 74, 0.7) 100%);
                    position: absolute;
                    right: 2em;
                    transition: 0.2s ease-in-out;
                    height: 0px;
                    width: 0px;
                    opacity: 0;
                    overflow: hidden;
                    border-radius: 7px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    form {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-bottom: .3em;
                    }

                    &-button {
                        border: none;
                        background-color: transparent;
                        color: #fff;
                        width: 100%;
                        font-size: 1.1rem;
                        padding: .7em 1em;
                        margin: 0;
                        cursor: pointer;
                        transition: .2s ease-in-out;

                        &:hover {
                            background-color: rgba(#6622cc, .5);
                        }
                    }

                    &-input {
                        margin: .5em;
                        border-radius: 5px;
                        border: none;
                        padding: .4em .8em;
                        outline: none;

                        &-submit {
                            border: none;
                            background-color: darken($color: (#6622cc), $amount: 5);
                            color: white;
                            padding: .4em .8em;
                            border-radius: 5px;
                            font-size: .7em;
                            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
                            cursor: pointer;
                            transition: .2s ease-in-out;


                            &:hover {
                                outline: none;
                                background-color: darken($color: (#6622cc), $amount: 10);
                                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
                            }
                        }
                    }
                }

                h2 {
                    position: relative;
                    color: #fff;
                    padding: 1em 0;
                    margin: 0;
                    width: 280px;
                    text-align: center;
                }

                &-tasks {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    min-height: 40px;
                    background: rgb(92, 89, 96);
                    background: linear-gradient(139deg, rgba(92, 89, 96, 0.7) 0%, rgba(31, 34, 32, 0.7) 100%);
                    width: 100%;
                    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3) inset;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;

                    form {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }

            &-add {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1em;
                background: rgb(92, 89, 96);
                background: linear-gradient(139deg, rgba(92, 89, 96, 0.7) 0%, rgba(31, 34, 32, 0.7) 100%);
                border-radius: 6px;
                width: 250px;
                max-height: 437px;

                &-error {
                    color: #ff1b1c;
                    text-align: center;
                }

                .input {
                    input {
                        width: 200px;
                    }
                }

                form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    button {
                        width: 200px;
                    }
                }

                .picker {
                    position: absolute;
                    top: -50%;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.3);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    &-close {
                        font-size: 3em;
                        color: #ff0000;
                        position: absolute;
                        right: 0em;
                        top: 2em;
                        cursor: pointer;
                        transition: 0.2s ease-in-out;
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                    &-item {
                        z-index: 10;
                    }
                }

                h2 {
                    color: white;
                    font-weight: 400;
                    margin: 0 0 1em 0;
                    text-align: center;
                }

                .coloors {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin: 0.5em;
                    cursor: pointer;
                    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
                    transition: 0.2s ease-in-out;

                    &:hover {
                        transform: scale(1.1);
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
                    }
                }

                &-colors {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    width: 100%;
                    justify-content: center;
                    width: 70%;
                    &__red {
                        background-color: #ff1b1c;
                    }

                    &__purple {
                        background-color: #6622cc;
                    }

                    &__orange {
                        background-color: #e36410;
                    }

                    &__green {
                        background-color: #0a8754;
                    }

                    &__yellow {
                        background-color: #eec643;
                    }

                    &__blue {
                        background-color: #0d21a1;
                    }

                    &__plus {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background-color: #fff;
                        svg {
                            margin-top: 0.39em;
                        }
                    }
                }
            }
        }
    }

    &-container {
        width: 100%;
        height: 100%;

        h1 {
            color: white;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-size: 1.5rem;
        }
    }

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(#5d55fa, 0.2);

        &-left {
            display: flex;
            align-items: center;
        }

        &-right {
            display: flex;
            align-items: center;
        }
    }
}

.noboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    div {
        color: #fff;
    }
}

.button-menu {
    background-color: transparent;
    border: none;
    font-size: 1.8em;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.5em 0 0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    padding: 0.7em;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: #5d55fa;
    }

    &:focus {
        border: none;
        outline: none;
        background-color: rgba(255, 255, 255, 0.1);
        color: #5d55fa;
    }
}

#wrapper {
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-item {
        margin: 1em 0;
        padding: 0.7em 1em;
        background-color: #161616;
        border-radius: 15px;
        color: #fff;
        font-size: 0.9em;
        width: 200px;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        transition: 0.2s ease-in-out;

        &:hover {
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            background-color: #5d55fa;
            outline: none;
        }

        &:active {
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            background-color: #5d55fa;
            outline: none;
        }

        &:focus {
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            background-color: #5d55fa;
            outline: none;
        }
    }
}

.menu-list-show {
    opacity: 1;
    width: 200px;
    height: 122px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
