.button {
    background-color: #5D55FA;
    border: none;
    padding: .6em 1em;
    color: #fff;
    font-weight: 500;
    font-size: 19px;
    width: 285px;
    border-radius: 5px;
    margin: 2em 0;
    transition: .2s ease-in-out;
    cursor: pointer;

    &:hover {
        outline: none;
        background-color: #4b44c7;
    }

    &:focus {
        background-color: #4b44c7;
        outline: none;
    }

    &:active {
        background-color: #4b44c7;
    }
}

.icon {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.icon-button {
    position: absolute;
    right: 1em;
    font-size: 1.3em;
}