.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        color: #fff;
        font-size: 35px;
    }

    &-block {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin-top: 5em;
    }

    &-create {
        padding: 8em 5em;
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6) inset;
        border-radius: 15px;
        cursor: pointer;
        transition: .2s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 157px;
        p {
            font-size: 23px;
            color: #fff;
            font-weight: bold;
            letter-spacing: .1em;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
            box-shadow: 0 2px 15px rgba(0, 0, 0, 0.6) inset;

            img {
                transform: rotate(360deg) scale(1.1);
            }
        }
        img {
            width: 80px;
            height: 80px;
            transition: 0.2s ease-in-out;
        }
    }
}
